body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    nav .nav-list-container .nav-list li{
        display: none;
    }
}

nav {
    height: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(100, 100, 100);
}

nav{
    box-shadow: 0.2px 0.2px 10px 1px #d0d0d0;
}

nav .logo-container{
    height: 100%;
    display: inline-block;
    width: 160px;
}

nav .nav-logo{
    max-height: 17px;
    position: relative;
    top: 22px;
    left: 25px;
}

nav .nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list-container{
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
}

.nav-list li{
    display: inline-block;
    padding: 0px 22px;
}

.nav-list-container .hamburger-icon{
    height: 22px;
    width: 22px;
    margin: 10px 30px 10px 15px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

nav .nav-list-container .hamburger-icon span{
    display: block;
    background-color: black;
    height: 1.6px;
    width: 16px;
    border-radius: 3px;
    position: relative;
}

nav .nav-list-container .hamburger-icon a #hamburger-line-1{
    top: 6px;
    left: 3px;
}

nav .nav-list-container .hamburger-icon a #hamburger-line-2{
    height: 1.5px;
    top: 9px;
    left: 3px;
}

nav .nav-list-container .hamburger-icon a #hamburger-line-3{
    top: 12px;
    left: 3px;
}


.landing-image-section{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
    height: auto;
}

.landing-image-section .landing-image-div{
    height: auto;
    max-width: 750px;
    margin: 0px 6vw;
}

.landing-image-section .landing-image-div #landing-image{
    height: 100%;
    width: 100%;
}